{% block matrix_row %}
    <div class="pagepart pagepart_sky">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block matrix_label %}
    <div class="prop_bar_sky">{{ name | humanize }}</div>
{% endblock %}

{% block matrix_widget -%}
    {% set sortableId = 'key_value_sortable_' ~ id %}
    {#{{ mv_debug(form) }}#}
    <div class="block clearfix matrixWidget" {{ block('widget_attributes') }} data-prototype="{{ form_widget(form.vars.prototype)|e  }}">
        <div class="row">
            <div class="col-xs-12">
                <div class="ui-sortable matrixRows" id="{{ sortableId }}">
        {% for row in form.children %}
            {{ form_row(row) }}
        {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11"><button class="btn btn-mini keyValueAdd">+</button></div>
        </div>


        <script>
            jQuery(document).ready(function() {

                var $rows = $( "#{{ sortableId }}"),

                resetTabIndex = function() {
                    var index = 1;
                    $rows.find('input.rowData').each(function() {
                        $(this).attr('tabindex', index++);
                    });
                    $('#{{ id }} .keyValueAdd').attr('tabindex', index++);
                };

                resetTabIndex();

                $rows.sortable({
                    stop: function( event, ui ) {
                        resetTabIndex();

                        var $this = $(this),
                                order = 0;
                        $this.find('.rowOrder').each(function() {
                            $(this).val(order);
                            order++;
                        });

                    }
                });

                $rows.disableSelection();

                $('body').on('click', '#{{ id }} .keyValueAdd', function(e) {
                    e.preventDefault();
                    var $this = $(this),
                            $matrixWidget = $this.closest('.matrixWidget'),
                            prototype = $matrixWidget.data('prototype');

                    prototype = prototype.split('__name__').join($matrixWidget.find('.matrixRow').length);
                    $this.closest('.matrixWidget').find('.matrixRows').append(prototype);
                    resetTabIndex();
                });
                $('body').on('click', '#{{ id }} .keyValueDelete', function(e) {
                    e.preventDefault();
                    var $tr = $(this).closest('.matrixRow');
                    $tr.hide(200, function() {
                        $tr.remove();
                    });
                    resetTabIndex();
                });
            });
        </script>
    </div>

{%- endblock matrix_widget %}
{# Cant use matrix_row as it will conflict with the Forms api #}

{% block matrix_row_row %}
    {{ form_widget(form) }}
{% endblock %}


{% block matrix_row_widget %}
<div class="row matrixRow">
    <div class="col-xs-1"><i class="icon-move keyValueMove ui-sortable-handle"></i></div>
    <div class="col-xs-10 rowData">
        <input class="rowOrder" type="hidden" name="{{ full_name }}[__rowOrder]" value="{{ name }}">
    {% for val in form.children %}
        <div class="row">
            <div class="col-xs-4">{{ val.vars.form.vars.name | humanize }}</div>
            <div class="col-xs-8">{{- form_widget(val) -}}</div>
        </div>
    {% endfor %}
    </div>
    <div class="col-xs-1"><button class="btn btn-danger btn-mini"><i class="icon-trash keyValueDelete"></i></div>
</div>
{% endblock matrix_row_widget %}
